@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111827;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}


.form-container {
    width: 400px;
    height: 450px;
    background-color: #f2f2f2;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 7px;
    border: none;
}

.input-field:invalid {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
}

.input-field:focus {
    outline: none;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#zip {
    width: 165px;
}

#country {
    height: 40px;
    border-radius: 7px;
}

.form-header {
    display: flex;
    justify-content: center;
}

.form {
    gap: 20px;
}

.countries {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.submit-btn,
.accept-btn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.submit-btn,
.accept-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.submit-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.accept-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.submit-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.accept-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.accept-btn {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 40px;
}

.input-field.error {
    border-color: rgb(165, 23, 23);
}

.error-text {
    font-size: 13px;
    color: rgb(176, 24, 24);
}

.error-modal {
    font-size: 15px;
    color: rgb(176, 24, 24);
}

.privacy-checkbox {
    width: 100%;
}

#input-checkbox.error+.checkbox-label {
    color: rgb(184, 18, 18);
}


#country {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    border: none;
}


#country option {
    background-color: #fff;
    color: #333;
    font-size: 13px;
}


#country:focus {
    outline: none;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


.modal-box {
    z-index: 1;
    width: 426px;
    height: 135px;
    background-color: white;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    box-shadow: 0px 0px 39px -11px rgba(0, 0, 0, 0.1);
}


.modal {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: #9999993c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.show {
    display: block;
}

.hide {
    display: none;
}